.width-80{width: 80%;}
.float-left{float: left;}
form#newMessage  {
    margin:0 0 40px 0;
}
form#newMessage label {
    display: block;
	width: 100%;
	margin-bottom: 5px;
	margin-right: .75em;
	font-size: 16px;
}



form#newMessage input[type="text"], form#newMessage textarea {
  line-height: 16px;
  background-color: transparent;
  border-width: 1px ;
  border-style: solid;
  border-color: rgba(220,221,221,1);
  border-radius:4px;
  font-size: 14px;
  padding: 10px;
  height: auto;
  width: 400px;
  color: rgb(65, 72, 77) ;	
}

form#newMessage .wrap_label_text{
  margin-bottom: 1.25em;
}

form input[type="text"]:focus, form textarea:focus {
    border-color:#1f487c;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none
}

form#newMessage input[type="submit"]{
    background-color:  #ee4338;
    color: #fff;
    border-width: 0px;
    border-style: solid;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
	cursor: pointer;


	
}

form#newMessage input[type="submit"]:hover{
	background-color: #ff7a7d;
}

form#newMessage label.error {
	padding-top:2px;
	font-size:12px !important;
    line-height:14px;
    color:#c0392b
}

div#success,  div#error {
    display:none;
}
div#success-show , div#error-show  {
    display:block;
    top:0;
    width:100%;
	font-size: 16px;

}
div#success-show, .message-sent {
  color:rgb(145, 177, 40);
}

div#error-show, .message-not-sent {
  color:#c0392b;
}

/* to be used */
form input[type="text"][disabled], form textarea[disabled] {
    background:#fff
}
form input[type="text"].error, form textarea.error {
    background:#e6e6e6;
    border-color:#c0392b
}
fieldset {
    border:0px;
    margin:0;
    padding:0
}
.required {
    color:#e9266d
}

table.display-message {
	margin-left: 0px !important;
	text-align: center;
	border-collapse: collapse;
	width: 80%;
	clear: both;
}
 th.message,  td.message  { 
	width: 50%;
}
table.display-message  th{
	border: 1px solid #ee4338;  
	color: #fff; 
	background: #ee4338; 
	padding: 7px 20px;

}

table.display-message  td{
	border: 1px solid #ccc;  
	padding: 7px 20px;
}

#add-new-message{ float: right;}

input[type="button"]{
	font-size: inherit;
	border: none;
	color: #fff; 
	background: #ee4338; 
	padding: 0 12px;
    line-height: 30px !important;
}

.message-wrapper{
	dislay: block;
	overflow: hidden;
	clear: both;
	margin: 0 0 20px 0;
}